@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #F2F2F2;
}
.navigation-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  width: 160px;
  margin: 0;
  padding: 8px 34px;
}
.hotel-search-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  width: 276px;
  margin: 0;
  padding: 8px 50px;
}
.button-subscribe {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
}
.subscribe-form {
  display: flex;
  padding: ;
  margin: 0 auto;
}
.button-apply {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  width: 191px;
  padding: 8px 50px;
  border: none;
}
.button-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  width: 191px;
  padding: 8px 50px;
  border: none;
  margin: 40px;
}
.button-wrapper {
  flex-direction: column;
  margin-left: auto;
  text-align: center;
}
.hotel-card-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  height: 36px;
  padding: 8px 26px;
  border: none;
}
.button-light {
  font-family: inherit;
  color: #000000;
  background-color: #FFFFFF;
  width: 115px;
  margin-left: 70px;
  height: 49px;
}
.favorites-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  padding: 8px 20px;
  border: none;

}
.favorites-button-in {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  padding: 8px 18px;
  border: none;

}
.page-header-logo {
 width: 140px;
 padding: 0px 70px;
}


.navigation {
  display: flex;
  margin: 0 auto;
}
.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation-user {
  max-width: 370px;
  margin-left: auto;
  list-style-type: none;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}
.class-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;

}
.hero-img-welcome {
  display: block;
  margin: 0 auto;
}
.advantages {
  color: #000000;
  background-color: #FFFFFF;
}
.hero {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/sedona/index-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.hero-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 620px;
  margin-left: 290px;
}
.hero-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 651px;
  margin-left: 275px;
}
.advantages-item-city {
  background-color: #82B3D3;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
.advantages-item-bridge {
  background-color: #82B3D3;
  flex-basis: 100%;
  display: flex;
}
.container-city {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  justify-content: center;
  box-sizing: border-box;
}
.advantages-city {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 103px 85px;

  justify-content: center;
  margin: 0;


}
.advantages-road {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  padding: 103px 85px;
  justify-content: center;
  margin: 0;

}
.advantages-list {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;


}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  padding: 0;
  gap: 30px;

}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;

}
.advantages-bridge {
  background-color: #82B3D3;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  padding: 102px 85px;
  box-sizing: border-box;
}
.advantages-bridge-1 {
  background-color: #82B3D3;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  padding: 102px 85px;
  box-sizing: border-box;
}
.advantages-title-bridge {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: 0;

}
.advantages-description-bridge {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  gap: 30px;
  padding: 0;
}
.advantages-title-city {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  margin: 0;
  padding: 0;
}
.advantages-description-city {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  width: 100%;


  padding: 0;
  gap: 30px;
}
.advantages-title-road {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 0;
}
.advantages-description-road {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  width: 100%;
  height: 63px;
  gap: 30px;
  padding: 0;
}
.advantages-service {
  text-align: center;
  background-color:#FFFFFF;
}
.advantages-service-city {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;

}
.advantage-vacation-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 80px 85px 80px 85px;


}
.advantage-vacation-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 505px;
  margin-left: 348px;
}
.advantage-vacation-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-align: center;
  width: 490px;
  margin-left: 355px;
}
.advantage-vacation-food {
  width: 400px;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 80px, 85px, 80px, 85px;
}
.advantage-vacation-title-food {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 400px;
  height: 56px;
  margin: 0;
  padding: 0;
}
.advantage-vacation-title-service {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 400px;





}
  .advantage-vacation-description-service {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-align: center;





}
  .advantage-vacation-description-food {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
    width: 400px;
    height: 63px;
    margin: 0;
    padding: 0;
}
  .search-hotel {
    text-align: center;
    background-color:#FFFFFF;
  }
  .search-hotel-1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 297px;
    margin-left: 452px;
  }
  .search-hotel.info {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 592px;
    margin-left: 304px;
  }
  .user-field {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color:#F2F2F2;
    width: 600px;
    height: 60px;
    padding: 12px 10px 12px 22px;
    box-sizing: border-box;
    border: none;
  }
  .subscribe {
    background-image: url("../images/sedona/subscribe.jpg");
    background-size: 1200px, 415px;
    background-color:#FFFFFF;
    background-repeat: no-repeat;
  }
  .subscribe-catalog {
  background-color:#FFFFFF
  }
  .subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
  }
  .subscribe-title-catalog {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 404px;
    margin: 0;
    padding: 0;
    margin-left: 398px;
  }
  .subscribe-info {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 475px;
    margin-left: 363px;
  }
  .subscribe-info-catalog {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 475px;
    margin-left: 363px;
  }
  .contacts-address-phone {
    line-height: 40px;
    font-size: 40px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

.inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  width: 495px;
  margin-left: 70px;
  margin: 0;
  padding: 0;
}
.hotels-catalog {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/catalog/filter.jpg");
  background-size: 1200px 412px;
  background-repeat: no-repeat;
}
.breadcrumbs {
  color: #FFFFFF;
}
.breadcrumbs-1 {
  width: 1060px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}
.control-input {
  font-family: inherit;
  color: #FFFFFF;
}
.filter {
  display: flex;
  padding: 0px 70px;
  list-style-type: none;
}
.catalog-filter-group {
  border: 0 none;


}
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}
.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  list-style-type: none;
}
.catalog-filter-price {
  border: none;
  margin: 0;
  margin-left: 80px;
  padding: 0;
  width: 288px;
  display: flex;
}
.control-input-min {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  width: 143px;
  height: 48px;
}
.control-input-max {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  width: 143px;
  height: 48px;
}
.sorting-container {
  color: #000000;
  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
}
.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  width: 338px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
}
.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  width: 292px;
  height: 49px;
  display: flex;
  padding: 14px 20px;
  margin: 0;
}
.hotel-list {
 list-style: none;
 display: flex;
 flex-wrap: wrap;
 width: 1200px;
}
.hotel-card {
width: 340px;
margin: 0;
padding: 0;
text-align: left;
flex-direction: column;
}

.hotel-card-link {
  text-decoration: none;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  display: inline;
}
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  padding: 8px 22px 9px 23px ;
  border: none;
  text-align: center;
  display: flex;
}
.pagination {
 width: 1200px;
 display: flex;
 margin: 0;
}
.pagination-link-first {
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  margin-left: 70px;
  margin-right: 8px;
}
.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.page-footer {
margin: 0 auto;
background-color: #FFFFFF;
color: #000000;
   }
.page-footer-social {
  display: flex;
  margin: 0 auto;
}
.social-list {
  list-style-type: none;
}
.social {
  width: 142px;
  margin-left: 70px;
}
.contact-us {
  width: 331px;
  margin-left: 237px;
}
.about-us {
  width: 115px;
  margin-left: 236px;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
