@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #F2F2F2;
}
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}
.navigation-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  width: 160px;
  margin: 0;
  padding: 8px 34px;
}
.hotel-search-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  width: 276px;
  margin: 0;
  padding: 8px 50px;
}
.button-subscribe {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
}
.subscribe-form {
  display: flex;
  width: 800px;
  margin: 0 auto;
}
.button-apply {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  width: 191px;
  height: 36px;
  padding: 8px 50px;
  border: none;
  margin-left: 70px;
}
.button-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  width: 191px;
  height: 36px;
  padding: 8px 50px;
  border: none;
  margin-left: 70px;
}
.button-apply-reset {
flex-direction: column-reverse;
}
.hotel-card-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  height: 36px;
  padding: 8px 26px;
  border: none;
}
.button-light {
  font-family: inherit;
  color: #000000;
  background-color: #FFFFFF;
  width: 115px;
  margin-left: 70px;
  height: 49px;
}
.favorites-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  padding: 8px 20px;
  border: none;

}
.favorites-button-in {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  padding: 8px 18px;
  border: none;

}
.page-header-logo {
 width: 140px;
 margin-left: 70px;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
}
.navigation-user {
  max-width: 310px;
  margin-left: auto;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}
.main-container {
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.hero-img-welcome {
  display: block;
  margin: 0 auto;
}
.advantages {
  color: #000000;
  background-color: #FFFFFF;
}
.hero {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/sedona/index-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.hero-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 620px;
  margin-left: 290px;
}
.hero-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 651px;
  margin-left: 275px;
}
.advantages-item-1 {
  background-color: #82B3D3;
  width: 400px;
  height: 385px;
  display: flex;
}
.advantages-item-2 {
  background-color: #82B3D3;
  width: 400px;
  height: 385px;
  display: flex;
}
.advantages-city {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}
.advantages-road {
  font-family: inherit;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;

}
.advantages-list {
  margin: 0;
  padding: 0;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  margin: 0;
  padding: 103px 85px;
  display: flex;

}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  width: 230px;
  height: 63px;
  margin: 0;
  padding: 0;
  display: flex;
  align-self: stretch;

}
.advantages-title-2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  margin: 0;
  padding: 103px 85px;
  display: flex;

}
.advantages-description-2 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  width: 230px;
  margin: 0;
  padding: 0;
  display: flex;
  align-self: stretch;
}
.advantages-title-city {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  margin: 0;
  padding: 0;
}
.advantages-description-city {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  width: 230px;
  margin: 0;
  padding: 0;
}
.advantages-title-road {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  margin: 0;
  padding: 103px 85px;
  display: flex;
}
.advantages-description-road {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  width: 230px;
  margin: 0;
  padding: 0;
  display: flex;
}
.advantages-service {
  text-align: center;
  background-color:#FFFFFF;
}
.advantages-1 {
  text-align: center;
  background-color:#FFFFFF;
}
.advantages-list-1 {
  display: flex;
  justify-content: center;
}
.advantages-service-city {
  display: flex;
  justify-content: space-between;
}
.advantage-vacation-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
  margin: 0;
  padding: 0;
}
.advantage-vacation-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 505px;
  margin-left: 348px;
}
.advantage-vacation-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-align: center;
  width: 490px;
  margin-left: 355px;
}
.advantage-vacation-food {
  width: 400px;
  height: 385px;
  margin: 0;
  padding: 0;
}
.advantage-vacation-title-food {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
  height: 28px;
  margin: 0;
  padding: 0;
}
.advantage-vacation-title-service {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 230px;
  height: 28px;
}
  .advantage-vacation-description-service {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    width: 230px;
    height: 63px;
    margin: 0;
    padding: 0;
  }
  .advantage-vacation-description-food {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
    width: 230px;
    height: 63px;
    margin: 0;
    padding: 0;
  }
  .search-hotel {
    text-align: center;
    background-color:#FFFFFF;
  }
  .search-hotel-1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 297px;
    margin-left: 452px;
  }
  .search-hotel.info {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 592px;
    margin-left: 304px;
  }
  .user-field {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color:#F2F2F2;
    width: 600px;
    height: 60px;
    padding: 12px 10px 12px 22px;
    box-sizing: border-box;
    border: none;
  }
  .subscribe {
    background-image: url("../images/sedona/subscribe.jpg");
    background-size: 1200px, 415px;
    background-color:#FFFFFF;
    background-repeat: no-repeat;
  }
  .subscribe-catalog {
  background-color:#FFFFFF
  }
  .subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    width: 404px;
    margin: 0;
    padding: 0;
    margin-left: 398px;
  }
  .subscribe-title-catalog {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 404px;
    margin: 0;
    padding: 0;
    margin-left: 398px;
  }
  .subscribe-info {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 475px;
    margin-left: 363px;
  }
  .subscribe-info-catalog {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 475px;
    margin-left: 363px;
  }
  .contacts-address-phone {
    line-height: 40px;
    font-size: 40px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }
  .main-inner {
    background-color: #ffffff;
  }
.inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  width: 495px;
  margin-left: 70px;
  margin: 0;
  padding: 0;
}
.hotels-catalog {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/catalog/filter.jpg");
  background-size: 1200px 412px;
  background-repeat: no-repeat;
}
.breadcrumbs {
  color: #FFFFFF;
}
.breadcrumbs-1 {
  width: 1060px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}
.control-input {
  font-family: inherit;
  color: #FFFFFF;
}
.catalog-filter-group-1 {
  width: 151px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  display: flex;
}
.catalog-filter-group {
  border: 0 none;
  margin: 0;
  margin-right: 70px;
  padding: 0;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}
.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}
.catalog-filter-price {
  font-family: inherit;
  border: none;
  margin: 0;
  margin-left: 80px;
  padding: 0;
  width: 288px;
  display: flex;
}
.control-input-min {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  width: 143px;
  height: 48px;
}
.control-input-max {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  width: 143px;
  height: 48px;
}
.sorting-container {
  color: #000000;
  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
}
.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  width: 338px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
}
.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  width: 292px;
  height: 49px;
  display: flex;
  padding: 14px 20px;
  margin: 0;
}
.hotel-list {
 list-style: none;
 display: flex;
 flex-wrap: wrap;
 width: 1200px;
 height: 1235px;
}
.hotel-card {
width: 340px;
height: 438px;
margin: 0;
padding: 0;
text-align: left;
vertical-align: top;
flex-direction: column;
}
.hotel-card-4 {
  width: 340px;
  height: 438px;
  margin: 0;
  padding: 0;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  }

.hotel-card-link {
  text-decoration: none;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  display: inline;
}
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  padding: 8px 22px 9px 23px ;
  border: none;
  text-align: center;
  display: flex;
}
.pagination {
 width: 1200px;
 display: flex;
 margin: 0;
}
.pagination-link-first {
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  margin-left: 70px;
  margin-right: 8px;
}
.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.page-footer {
  background-color: #FFFFFF;
}
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.social {
  width: 142px;
  margin-left: 70px;
}
.contact-us {
  width: 331px;
  margin-left: 237px;
}
.about-us {
  width: 115px;
  margin-left: 236px;
}
