@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #F2F2F2;
}
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}
.navigation-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}
.hotel-search-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}
.button-subscribe {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
}
.button-apply {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
}
.button-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
}
.hotel-card-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}
.button-light {
  font-family: inherit;
  color: #000000;
  background-color: #FFFFFF;
}
.favorites-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
}
.favorites-button-in {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-transform: uppercase;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.advantages {
  color: #000000;
  background-color: #FFFFFF;
}
.hero {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/sedona/index-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.hero-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
.hero-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-align: center;
}
.advantages-item {
  background-color: #82B3D3;
}
.advantages-city {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-road {
  font-family: inherit;
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
}
.advantages-title-city {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.advantages-description-city {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}
.advantages-title-road {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.advantages-description-road {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}
.advantages-service {
  text-align: center;
  background-color:#FFFFFF;
}
.advantage-vacation-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
.advantage-vacation-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  text-align: center;
}
.advantage-vacation-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantage-vacation-title-food {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.advantage-vacation-title-service {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
  .advantage-vacation-description-service {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
  }
  .advantage-vacation-description-food {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
  }
  .search-hotel {
    text-align: center;
    background-color:#FFFFFF;
  }
  .search-hotel-1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
  }
  .search-hotel.info {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-align: center;
  }
  .user-field {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color:#F2F2F2;
  }
  .subscribe {
    background-image: url("../images/sedona/subscribe.jpg");
    background-size: 1200px, 415px;
    background-color:#FFFFFF;
    background-repeat: no-repeat;
  }
  .subscribe-catalog {
  background-color:#FFFFFF
  }
  .subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
  }
  .subscribe-title-catalog {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
  }
  .subscribe-info {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
  }
  .subscribe-info-catalog {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-align: center;
  }
  .contacts-address-phone {
    line-height: 40px;
    font-size: 40px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }
  .main-inner {
    background-color: #ffffff;
  }
.inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}
.hotels-catalog {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/catalog/filter.jpg");
  background-size: 1200px 815px;
  background-repeat: no-repeat;
}
.breadcrumbs {
  color: #FFFFFF;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}
.control-input {
  font-family: inherit;
  color: #FFFFFF;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}
.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}
.catalog-filter-price {
  font-family: inherit;
}
.control-input-min {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.control-input-max {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.sorting-container {
  color: #000000;
}
.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.hotel-card-link {
  text-decoration: none;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}
.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}
.page-footer {
  background-color: #FFFFFF;
}
